* {
	box-sizing: border-box;
}

body {
	color: #4a4a4a;
	background-color: #ff9f76;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}

:root {
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	:root {
		font-size: 11px;
	}
}

