:root {
	font-size: 16px;
	font-family: 'Inter', system, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--text);
	background-color: white;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}

::selection {
	color: var(--accent);
	background: var(--neutral);
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	:root {
		font-size: 13px;
	}
}

@media screen and (max-width: 400px) {
	:root {
		font-size: 11px;
	}
}