:root {
	font-size: 16px;
	font-family: 'Inter', system, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--text);
	background-color: white;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-underline-offset: 0.25rem;
}

::selection {
	color: var(--accent);
	background: var(--neutral);
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

@media screen and (max-width: 1000px) {
	:root {
		font-size: 13px;
	}
}