:root, .orange {
    --text: #4a4a4a;
    --accent: #fda985;
    --neutral: #ffe8d5;
    --danger: #ff6363;
    --border: #ece6e3;
    --borderDarker: #b6b3b1;
    --background: #fff9f2;
}

.red {
    --text: #4a4a4a;
    --accent: #ff7d7d;
    --neutral: #ffd4d4;
    --danger: #fe4646;
    --border: #ece3e3;
    --borderDarker: #b6b1b1;
    --background: #fff2f2;
}

.green {
    --text: #4a4a4a;
    --accent: #70d481;
    --neutral: #d2fbe0;
    --danger: #ff6363;
    --border: #e3eceb;
    --borderDarker: #b1b6b4;
    --background: #f9fff2;
}

.blue {
    --text: #4a4a4a;
    --accent: #76b6ff;
    --neutral: #d5e9ff;
    --danger: #ff6363;
    --border: #e3e3ec;
    --borderDarker: #b1b1b6;
    --background: #f2f9ff;
}

.purple {
    --text: #4a4a4a;
    --accent: #b381ff;
    --neutral: #e2d0fd;
    --danger: #ff6363;
    --border: #e9e3ec;
    --borderDarker: #b4b1b6;
    --background: #fcf2ff;
}

